body {
  overflow: hidden;  
}

.door {
  width: 25rem;
  height: 70vh;
  border: 0.7rem solid #bc88fc;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* transition: transform 0.4s ease;
  
  /* transform: perspective(5rem); */
  transform-origin: center left;
  transition: transform 2s ease;
  /* padding: 0 0.7rem; */
  margin: 0. 0.7rem;
}

.door:hover {
  /* transform: perspective(5rem); */
  /* transform: rotate3d(0, -2, 0, -0.2turn) perspective(5rem); */
  /* transform: translateX(-12.5rem) rotate3d(0, -2, 0, -0.2turn); */
  /* perspective: 20rem; */
}

.open {
  transform: perspective(100rem) rotateY(-87deg);
}

.zoomFrame {
  transform: scale(300%);
}

.frame {
  border: 0.7rem dashed #bc88fc;
  background-color: #88fcca;
  box-shadow: 0rem 0rem 5rem 4rem #88fcca;
  transition: transform 3s ease;
}

.wiggle {
  animation-duration: 1.5s;
  animation-name: wiggle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes wiggle {
  /* from {
    transform: rotate(0deg)
  }
  
  to {
    transform: rotate(45deg)
  } */

  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(20deg);
  }
}

.room {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: white;
}

.handle {
  width: 5rem;
  height: 3rem;
  background-color: transparent;
  transition: transform 0.3s ease;
  transform-origin: center left;
  margin-left: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.handle-inner {
  background-color: #bc88fc;
  width: 5rem;
  height: 0.7rem;
}

/* .handle-inner:hover {
  background-color: inherit;
} */

.handle:hover {
  transform: rotate(45deg);
  cursor: grab;
}

.rotated {
  transform: rotate(90deg)
}

.invisible {
  background-color: transparent;
}